# Allow access to uploaded files
Options -Indexes
<Files "*.php">
    Order Allow,Deny
    Deny from all
</Files>
<Files "*.phtml">
    Order Allow,Deny
    Deny from all
</Files>
<Files "*.php3">
    Order Allow,Deny
    Deny from all
</Files>
<Files "*.php4">
    Order Allow,Deny
    Deny from all
</Files>
<Files "*.php5">
    Order Allow,Deny
    Deny from all
</Files>